{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->			
        <h3 class="page-title">
            Profilo					<small>pagina per la modifica della password di accesso</small>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html">Home</a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#">Modifica password</a></li>
            <li class="pull-right">
                <div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
                    <i class="fa fa-calendar"></i>
                    <span></span>
                    <i class="fa fa-angle-down"></i>
                </div>
            </li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
{% include "FOSUserBundle:ChangePassword:changePassword_content.html.twig" %}
{% endblock fos_user_content %}
